<div class="login-container">
    <h2>Iniciar Sesión</h2>

    {{#if error}}
    <div class="alert alert-danger" role="alert">
        Usuario o contraseña incorrectos.
    </div>
    {{/if}}

    <form action="/admin/login" method="POST">
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingresa tu usuario"
                required>
        </div>

        <div class="mb-3">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contraseña" name="contraseña"
                placeholder="Ingresa tu contraseña" required>
        </div>

        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>