<div class="container">
    <div class="contenido">
        <p>
            <span>Hola, <strong>{{persona}}</strong>!</span>
            <a href="/admin/login/logout" class="btn btn-danger logout-btn">
                Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
            </a>
        </p>
    </div>
</div>
